.blog-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.blog-card{
    width: 450px;
    margin: 40px auto;
    text-align: center;
    background-color: white;
    color: white;
    box-shadow: 0px 5px 10px #277da1;
}
.blog-image-tiles{
    width: 100%;
}
.blog-card-content{
    height: 100px;
    margin: auto;
    margin-top: 10px;
    background-color: #2e4052;
    color: white;
    font-family: none;
}
.blog-author, .blog-title{
    font-size: 20px;
}
.loading{
    margin: 50vh auto;
    text-align: center;
}
.loading-spinner{
    margin: 0px 10px;
}
@media(max-width: 500px){
    .blog-image{
        height: 50vw;      
    }
    .blog-author, .blog-title{
        font-size: 12px;
    }
    .blog-card{
        margin: 20px auto;
    }
}
@media(max-width: 300px){
    .blog-card-content{
        margin-top: 5px;
    }
}
@media(max-width: 150px){
    .loading-spinner{
        margin: 2px;
    }
}
@media(max-width: 100px){
    .blog-author, .blog-title{
        font-size: 10px;
    }
}

