.nav-container{
    background-color: #2e4052;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.nav-links{
    color: white;
    list-style: none;
    margin-right: 10px;
}
.link-home{
    text-decoration: none;
}
.nav-logo{
    margin-left: 10px;
}
@media(max-width: 500px){
    .nav-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .nav-logo{
        font-size: 20px;
        margin-left: 0px;
    }
    .link-home{
        font-size: 15px;
    }
    .nav-ul{
        padding: 0px;
    }
}
@media(max-width: 150px){
    .nav-logo{
        font-size: 2vh;
    }
    .link-home{
        font-size: 2vh;
    }
}
